<div class="container-wrap">
    <div class="title-sec">
        <div class="w-50">
            <h6>Proyecto Terminal</h6>
            <span class="f-h5"><strong>Marca</strong></span>
        </div>        
        <div class="w-50 alig-right-l">            
            <button mat-raised-button color="primary" class="primary-red m-t-16 m-b-10" (click)="newBrand()">Nueva marca</button>            
        </div>
    </div>    
    
    <div class="card" [hidden]="showList">        
        <span class="title-card"></span>        
        <div class="d-flex">
            <div class="w-25 m-t-16">
                <form class="example-form">
                    <mat-form-field class="w-p-95">
                      <mat-label>Nombre de la marca</mat-label>
                      <input matInput placeholder="Escribe el nombre de la marca" [(ngModel)] = "marca.description" name="name" required>                            
                    </mat-form-field>
                </form>
            </div>
        </div>
        <hr>
        <section>
            <div class="example-button-row">
                <button mat-raised-button color="warn" (click)="returnToList()" >Cancelar</button>                
                <button  mat-raised-button color="accent" (click)="cleanBrand()">Limpiar</button>                
                <button mat-raised-button color="primary" [disabled]="!validaObligatorios(marca)" (click)="saveBrand()">Registrar</button>                
            </div>
        </section>
    </div>
    <div class="card" [hidden]="!showList" >
        <!--  -->
        <span class="title-card">Lista de Zonas</span>
        <div class="sec-table">                        
            <table mat-table [dataSource]="dataSource" class=" full-width">
                <ng-container matColumnDef="idBrand">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.idBrand}} </td>                    
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>                    
                </ng-container>
                <!-- Accion Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-button class="link-table" (click)="editBrand(element.idBrand)">Editar</button>                        
                        <button mat-button class="link-bloquear" (click)="deleteBrand(element.idBrand)"> Eliminar </button>                        
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
